.p-body {
  margin: 100px;
  font-size: 20px;
}

.que:after {
  content: " *";
  color: red;
}


.form-check-label {
  font-weight: 500;
  color: #000000c1;
}

.txt-bg {
  background: aliceblue;
  padding: 10px;
}